.root_container {
  // position: relative;
  // min-height: 100vh;
}

.video_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  span img {
    display: none !important;
  }
}

.content_container {
  height: 100%;
  // position: relative;
}

@media screen and (max-width: 1024px) {
  .root_container {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .video_container {
    video {
      display: none;
    }

    span img {
      display: block !important;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 20% !important;
    }
  }
}
